# Build
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/
*.iml

# VS Code
.vscode/

# Testes
TestResults/

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/

# Logs
*.log

# Publicação
publish/
artifacts/

# OS
.DS_Store
Thumbs.db

# Coverage
coverage/
*.coverage
*.coveragexml

# Hangfire (SQLite local)
hangfire.db
hangfire.db-journal
